
# Dependency directories
node_modules/

# folder files
data_folder/

# code coverage directory
coverage/

# do not add compiled code 
dist/

# Image files
*.jpg
*.png

# MacOS
.DS_Store
.idea/

# TypeScript compiled .map files
*.map  
  